.section4Home {
    background-image: url('../../../assets/banners/HomeSection3Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 821px;
}